::-webkit-scrollbar {
  display: none;
}
/* --------------    Fonty    -----------------*/

/* --------------    glowna strona -----------------*/
body {
  background:
    linear-gradient(rgba(29, 29, 29, 0.959), rgba(29, 29, 29, 0.925)),
    url("sorces/images/back.gif");
    
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  align-items: center;
  align-content: center;
  justify-content: center;
  justify-items: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.nag {
  font-weight: bold;
  text-align: left;
  font-size: 40px;
  text-shadow: 0px 0px 3px white;
}

.text {
  text-align: left;
  color: rgb(212, 212, 212);
}

.div {
  filter: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: rgb(37, 37, 37);
  width: 40%;
  height: 30%;
  border-radius: 25px;
  gap: 30px;
}

.div img {
  border-radius: 25px;
  box-shadow: 0px 0px 10px black;
  height: 280px;
  transition: 400ms;
}
.div img:hover
{
  filter: blur(5px);
}

.prawo button {
  box-shadow: 0px 0px 10px white;
  color: white;
  background-color: rgb(37, 37, 37);
  border: 1px solid white;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
  transition: 400ms;
}

.prawo button:hover {
  background-color: white;
  color: black;
  border: none;
  transform: scale(1.05);
  cursor: pointer;
}

.prawo button:active {
  border: none;
  background-color: rgb(161, 161, 161);
  transform: scale(0.9);
}

.lewo {
  filter: none;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prawo {
  filter: none;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px; /* odstęp między tekstem a przyciskiem */
  border-radius: 25px;
  width: 60%;
  height: 280px;
  background-color: rgb(41, 41, 41);
}
.back
{
  float: left;

}
footer
{
  margin-top: 20px ;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(126, 126, 126);
  font-size: 14px;
}

@media (max-width: 1000px) {

  body {
    height: 74.5vh;
    align-items: center;
    align-content: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    padding-bottom: 50%;
    align-items: flex-start;
  }

  .div {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
    background-color: rgba(0, 0, 0, 0);
  }

  .lewo
  {
    height: 100%;
    padding: 30px;
  }
  .prawo {
    width: 200%;
    height: 100%;
    padding: 30px;
  }

  .nag {
    font-size: 26px;
    text-align: center;
  }

  .text {
    text-align: center;
  }

  .prawo button {
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    padding-left: 40px;
    padding-right: 40px;
    width:100%;
    font-size: 18px;
  }
  footer
{
  
  margin-top: 20px ;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(126, 126, 126);
  font-size: 14px;
}
}