::-webkit-scrollbar {
  display: none;
}
/* --------------    Fonty    -----------------*/

/* --------------    glowna strona -----------------*/

body {
  background:
    linear-gradient(rgba(29, 29, 29, 0.959), rgba(29, 29, 29, 0.925)),
    url("../../sorces/images/back.gif");
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding-left: 70px;
  padding-right: 70px;
}
main
{
  background:
    linear-gradient(rgba(29, 29, 29, 0.959), rgba(29, 29, 29, 0.925)),
    url("../../sorces/images/back.gif");
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding-left: 70px;
  padding-right: 70px;
}
a{
    text-decoration: none;
    color: white;
}
.sekcja
 {
  flex-direction: column;
  box-shadow: 0px 0px 50px black;
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  background-color: rgb(37, 37, 37);
  width: 20%;
  height: 70%;
  border-radius: 25px;
  transition: 400ms;
}
.sekcja:hover
{
  box-shadow: 0px 0px 80px black;
    transform: scale(1.05);
}
.sekcja button {
  box-shadow: 0px 0px 10px white;
  color: white;
  background-color: rgb(37, 37, 37);
  border: 1px solid white;
  width: 200px;
  height: 40px;
  border-radius: 20px;
  font-size: 20px;
  transition: 400ms;
}

.sekcja button:hover {
  background-color: white;
  color: black;
  border: none;
  cursor: pointer;
}

.sekcja button:active {
  border: none;
  background-color: rgb(161, 161, 161);
  transform: scale(0.9);
}
.nag {
  font-weight: bold;
  text-align: left;
  font-size: 40px;
  text-shadow: 0px 0px 3px white;
}
.text {
  text-align: left;
  color: rgb(207, 207, 207);
}
.imageclearom
{
    border-radius: 25px;
    height: 60%;
    width: 100%;
    float: right;
    background:
    linear-gradient(rgba(37, 37, 37, 0.158), rgb(37, 37, 37)),
    url("../../sorces/images/icon.png") center / cover no-repeat;
}
.imageclearkn
{
    border-radius: 25px;
    height: 60%;
    width: 100%;
    float: right;
    background:
    linear-gradient(rgba(37, 37, 37, 0.158), rgb(37, 37, 37)),
    url("../../sorces/images/kontact.png") center / cover no-repeat;
}
.imageclearpr
{
    border-radius: 25px;
    height: 60%;
    width: 100%;
    float: right;
    background:
    linear-gradient(rgba(37, 37, 37, 0.158), rgb(37, 37, 37)),
    url("../../sorces/images/projekty.png") center / cover no-repeat;
}
.info
{
    padding: 30px;
    height: 40%;
    width: 100%;
    float: left;
    
}
header
{
  width: 150px;
}
header button{
  border-radius: 12px;
  width: 85%;
  height: 36px;
  font-size: 18px;
  color: #ffffff;
  background: linear-gradient(180deg, rgba(255,255,255,0.04), rgba(0,0,0,0.12));
  border: 1px solid rgba(255,255,255,0.12);
  backdrop-filter: blur(6px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.45);
  cursor: pointer;
  transition: transform 180ms ease, box-shadow 180ms ease, background 180ms ease, color 180ms ease;
}
header button:hover{
  transform: translateY(-2px) scale(1.02);
  background: rgba(255,255,255,0.12);
  color: #111;
  box-shadow: 0 12px 30px rgba(0,0,0,0.55);
}
header button:active{
  transform: translateY(0) scale(0.98);
  background: rgba(255,255,255,0.14);
  color: #111;
}
@media (max-width: 768px) {

  body {
    height: 100%;
    padding: 2%;
  }

  main {
    padding-top: 120%;
    padding-bottom: 10%;
    display: flex;
    flex-direction: column;
    gap: 5%;
    
  }

  .imageclearom,
  .imageclearkn,
  .imageclearpr {
    width: 100%;
    height: 35%;
    min-height: 30vh;
  }

  .sekcja {
    width: 100%;
    min-height: 60%;
    padding: 5%;
    margin-bottom: 5%;
  }

  .nag {
    font-size: 6vw;
    text-align: center;
  }

  .text {
    text-align: left;
  }

  .sekcja button {
    width: 80%;
    font-size: 4.5vw;
  }

  header {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  header button {
    width: 400px;
    height: 6vh;
    margin-bottom: 8%;
  }
}

